@model EBANK.Models.Racun

@{
    ViewData["Title"] = "Edit";
}

<h1>Promijeni stanje računa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Broj računa: </label>
                <label> @Html.DisplayFor(model => model.Id)</label>
            </div>
            <div class="form-group">
                <label  class="control-label">Klijent: </label>
                <label> @Html.DisplayFor(model => model.Klijent.Ime) @Html.DisplayFor(model => model.Klijent.Prezime)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Vrsta računa: </label>
                <label> @Html.DisplayFor(model => model.VrstaRacuna)</label>
            </div>
            <div class="form-group">
                <label asp-for="StanjeRacuna" class="control-label"></label>
                <input asp-for="StanjeRacuna" class="form-control" />
                <span asp-validation-for="StanjeRacuna" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Povratak na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
