@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/test.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core by Domari</a>.</p>
    </div>

    <button class="button">Predji preko meneeeeeeeeee</button>

</body>


