@model StudentskiDom.ViewModels.PrijavaViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>obrazacZaUpis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapObrazacZaUpis.min.css">
    <link rel="stylesheet" href="~/css/stylesObrazacZaUpis.css">
</head>
<body>
    <h1 class="text-center text-primary" style="font-style: normal;">Obrazac Za Upis</h1>
    @using (Html.BeginForm("PosaljiPrijavuAction", "Home", FormMethod.Post, new {  enctype = "multipart/form-data"  } ))
    {
        <div>
            <div class="container text-left" style="width: 1000px;margin: 70px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive border rounded border-secondary shadow">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th class="table-secondary" style="width: 231px;">Lični podaci:</th>
                                        <th class="table-secondary" style="width: 223px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-group" style="height: 80px;">
                                        @*<td >&nbsp; Prezime&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input asp-for="Prezime" name="fldPrezime" type="text" style="width: 200px;"></td>*@
                                        <td class="form-group">
                                            <label asp-for="Prezime"></label><input asp-for="Prezime"  style="width: 200px;"><span asp-validation-for="Prezime" class="text-danger"></span>                                 
                                        </td>
                                        <td class="form-group">
                                            <label asp-for="JMBG"></label><input asp-for="JMBG" type="number" style="width: 200px"><span asp-validation-for="JMBG" class="text-danger"></span>
                                        </td>
                                        @*<td>JMBG<input asp-for="JMBG" name="fldJmbg" type="text" style="width: 200px;"><span asp-validation-for="JMBG" class="text-danger" style="margin: 0px 0px 0px 20px"></span></td>*@
                                    </tr>
                                    <tr class="form-group" style="height: 80px;">
                                        <td class="form-group">
                                            <label asp-for="Ime" style="width:200px"></label><input asp-for="Ime" type="text" style="width: 200px" /><span asp-validation-for="Ime" class="text-danger"></span>
                                        </td>
                                        @*<td>&nbsp; Ime&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input name="fldIme" type="text" style="width: 200px;"></td>*@
                                        @*<td class="form-group">
                                            <label asp-for="DatumRodjenja">Datum rođenja</label><input type="date" style="width: 200px" /><span asp-validation-for="DatumRodjenja" class="text-danger"></span>
                                        </td>*@
                                        <td>Datum rođenja<input name="fldDatumRodjenja" type="date" style="width: 200px;"></td>
                                    </tr>
                                    <tr style="height: 80px;">
                                        <td class="form-group">
                                            <label asp-for="MjestoRodjenja">Mjesto rođenja</label><input asp-for="MjestoRodjenja" type="text" style="width:200px"><span asp-validation-for="MjestoRodjenja" class="text-danger"></span>
                                        </td>
                                        @*<td>&nbsp; Mjesto rođenja&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input name="fldMjestoRodjenja" type="text" style="width: 200px;"></td>*@
                                        <td class="form-group">
                                            <label asp-for="Mobitel">Mobitel</label><input asp-for="Mobitel" type="number" style="width:200px" /><span asp-validation-for="Mobitel" class="text-danger"></span>
                                        </td>
                                        @*<td><label>Mobitel</label><input name="fldMobitel" type="tel" style="width: 200px;"></td>*@
                                    </tr>
                                    <tr style="height: 80px;">
                                        <td>
                                            &nbsp; Pol&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input name="pol" type="radio" value="musko"><label>Muško&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</label>
                                            <input name="pol" type="radio" value="zensko"><label>Žensko</label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr style="height: 300px;">
                                        <td class="form-group" style="height: 80px">
                                            <label asp-for="Email">E-mail</label><input asp-for="Email" type="email" style="width: 200px" /><span asp-validation-for="Email" class="text-danger"></span>
                                        </td>
                                        <td class="span3 image">                                           
                                            <label for="file" class="control-label">Slika</label>
                                            <div class="image-preview" style="text-align: center;">
                                                <img id="uploadPreview" style="width: 150px; height: 180px;" />
                                            </div>
                                            <div style="position: absolute; bottom: 10px; margin-left: 10px;">
                                                <div class="controls">
                                                    <input id="uploadImage" type="file" name="file" tabindex="13" onchange="PreviewImage();" />
                                                </div>                                               
                                                <sub style="color: red;">Slika mora biti u</sub>
                                                <br/>
                                                <sub style ="color: red;">'jpeg', 'jpg' ili 'png' formatu!</sub>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive border rounded border-secondary shadow ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="table-secondary" style="width: 235.1px;">Podaci o prebivalištu:</th>
                                        <th class="table-secondary"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @*<td style="height: 80px;">Adresa<input name="fldAdresa" type="text" style="width: 200px;"></td>*@
                                        <td class="form-group" style="height: 80px">
                                            <label asp-for="Adresa">Adresa</label><input asp-for="Adresa" type="text" style="width: 200px" /><span asp-validation-for="Adresa" class="text-danger"></span>
                                        </td>
                                        <td style="height: 80px;">
                                            Kanton<select name="dlKanton" style="width: 200px;height: 30px;">
                                                <optgroup label="Kanton:">
                                                    <option value="Unsko-sanski kanton" selected="">Unsko-sanski kanton</option>
                                                    <option value="Posavski kanton">Posavski kanton</option>
                                                    <option value="Tuzlanski kanton">Tuzlanski kanton</option>
                                                    <option value="Zeničko-dobojski kanton">Zeničko-dobojski kanton</option>
                                                    <option value="Bosansko-podrinjski kanton">Bosansko-podrinjski kanton</option>
                                                    <option value="Srednjobosanski kanton">Srednjobosanski kanton</option>
                                                    <option value="Hercegovačko-neretvanski kanton">Hercegovačko-neretvanski kanton</option>
                                                    <option value="Zapadnohercegovački kanton">Zapadnohercegovački kanton</option>
                                                    <option value="Kanton Sarajevo">Kanton Sarajevo</option>
                                                    <option value="Kanton 10">Kanton 10</option>
                                                </optgroup>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-group" style="height: 80px">
                                            <label asp-for="Opcina">Općina</label><input asp-for="Opcina" type="text" style="width: 200px" /><span asp-validation-for="Opcina" class="text-danger"></span>
                                        </td>
                                        @*<td><label>Općina</label><input name="fldOpcina" type="text" style="width: 200px;"></td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive border rounded border-secondary shadow" style="margin-top: 50px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="table-secondary" style="width: 235.1px;">Podaci o školovanju:</th>
                                        <th class="table-secondary"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="height: 80px;">
                                            Fakultet<select name="dlFakultet" style="width: 200px;height: 30px;">
                                                <optgroup label="Fakultet">
                                                    <option value="Elektrotehnički fakultet" selected="">Elektrotehnički fakultet</option>
                                                    <option value="Medicinski fakultet">Medicinski fakultet</option>
                                                    <option value="Mašinski fakultet">Mašinski fakultet</option>
                                                    <option value="Fakultet za kriminalistiku">Fakultet za kriminalistiku</option>
                                                    <option value="Građevinski fakultet">Građevinski fakultet</option>
                                                    <option value="Arhitektonski fakultet">Arhitektonski fakultet</option>
                                                    <option value="Filozofski fakultet">Filozofski fakultet</option>
                                                    <option value="Ekonomski fakultet">Ekonomski fakultet</option>
                                                    <option value="Prirodnomatematički fakultet">Prirordnomatematički fakultet</option>
                                                    <option value="Pravni fakultet">Pravni fakultet</option>
                                                </optgroup>
                                            </select>
                                        </td>
                                        <td style="height: 80px;">
                                            Ciklus studija<select name="dlCiklusStudija" style="width: 200px;height: 30px;"><optgroup label="Ciklus studija"><option value="1" selected="">I ciklus</option><option value="2">II ciklus</option><option value="3">III ciklus</option></optgroup></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        @*<td><label>Broj indeksa</label><input name="fldBrojIndeksa" type="text" style="width: 200px;"></td>*@
                                        <td class="form-group" style="height: 80px">
                                            <label asp-for="Index">Broj indexa</label><input asp-for="Index" type="number" style="width: 200px" /><span asp-validation-for="Index" class="text-danger"></span>
                                        </td>
                                        <td><label>Godina studija</label><select name="dlGodinaStudija" style="width: 200px;height: 30px;"><optgroup label="Godina studija"><option value="1" selected="">Prva</option><option value="2">Druga</option><option value="3">Treća</option></optgroup></select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><button class="btn btn-primary" type="submit" style="margin: 35px;width: 150px;margin-left: 170px;">Pošalji prijavu</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function PreviewImage() {
            var fileReader = new FileReader();
            fileReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

            fileReader.onload = function (fileEvent) {
                document.getElementById("uploadPreview").src = fileEvent.target.result;
            };
        };

        $(document).ready(function () {
            Prijava();
        });
    </script>
</body>

</html>