@{
    ViewData["Title"] = "Privacy Policy";
}

    <head>
        <link href="~/css/test.css" type="text/css" rel="stylesheet" />
    </head>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
