
@{
    ViewData["Title"] = "About";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

    <style>
        .body {
            justify-content: center;
            align-items: center;
        }

        .img-wrap {
            margin-left: auto;
            margin-right: auto;
        }

            .img-wrap img {
                width: 260px;
                height: 260px;
                padding: 10px;
                border-radius: 50%;
                box-shadow: 0 0 10px #999999;
            }

        #aboutus h2 {
            margin-bottom: 25px;
        }
    </style>
</head>


<div class="landing-section">
    <body>
        <section id="aboutus">
            <div class="container">
                <br />
                <h1>Neke informacije o aplikaciji</h1>
                <br />
                <br />
                <p>
                    Tim zaslužan za modeliranje i razvoj web aplikacije eParking broji svega 3 člana: <strong>Faris Demir</strong>, <strong>Milica Đokić</strong> i <strong>Amar Bešlagić</strong>.
                    Aplikacija predstavlja rezultat višemjesečnog rada na analizi, modeliranju i implementaciji problema elektronizacije procesa parkiranja.
                    Prvo pitanje koje smo sebi postavili prilikom odabira ove problematike je <strong>zašto baš eParking?</strong> Svjedoci smo da se svi često susrećemo sa problemom
                    pronalaska parking mjesta pa u našoj aplikaciji obavezno nudimo korisnicima mogućnost prikaza rute do najbližeg slobodnog parkinga u našoj parking mreži.
                    Također, tu je i mogućnost individualnog zakupa parking mjesta na jednoj od lokacija koja nudi korisnicima neke nove mogućnosti kao što su popusti
                    prilikom posjete bilo kojoj drugoj parking lokaciji. Još je bitno istaći da vlasnici imaju ažuran uvid u kompletnu analitiku parkinga što uključuje
                    prometnost, zaradu, listu svih zahtjeva za članarinu i slično.
                </p>
                <br />
                <br />
                <h1>Neke informacije o nama</h1>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-7">
                        <h2 class="text-center">Faris Demir, developer i dizajner</h2>
                        <p>
                            Student druge godine Elektrotehničkog fakulteta odsjeka za Računarstvo i informatiku. Dosad je radio na projektima koji su
                            za implementaciju koristili sljedeće programske jezike: C, C++, C#, Java, JavaScript. Posjeduje iskustvo u radu na razvoju
                            mobilnih aplikacija za android, web aplikacija koristeći ASP.NET Core, kao i konzolnih aplikacija.
                        </p>
                        <p>
                            Kontakt email: <strong>fdemir1@etf.unsa.ba</strong>
                        </p>
                        <p>
                            GitHub profil: <a href="https://github.com/faris-demir">Klikni ovdje!</a>
                        </p>
                    </div>
                    <div class="col-sm-5 text-sm-center">
                        <div class="img-wrap justify-content-center">
                            <img src="~/farisProfilna.jpg" />
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-5 text-sm-center">
                        <div class="img-wrap">
                            <img src="~/milicaProfilna.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h2 class="text-center">Milica Đokić, developer i dizajner</h2>
                        <p>
                            Studentica druge godine Elektrotehničkog fakulteta odsjeka za Računarstvo i informatiku. Dosad je radio na projektima koji su
                            za implementaciju koristili sljedeće programske jezike: C, C++, C#, Java, JavaScript. Posjeduje iskustvo u radu na razvoju
                            mobilnih aplikacija za android, web aplikacija koristeći ASP.NET Core, kao i konzolnih aplikacija.
                        </p>
                        <p>
                            Kontakt email: <strong>mdokic1@etf.unsa.ba</strong>
                        </p>
                        <p>
                            GitHub profil: <a href="https://github.com/mdokic1">Klikni ovdje!</a>
                        </p>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-7">
                        <h2 class="text-center">Amar Bešlagić, developer i dizajner</h2>
                        <p>
                            Student druge godine Elektrotehničkog fakulteta odsjeka za Računarstvo i informatiku. Dosad je radio na projektima koji su
                            za implementaciju koristili sljedeće programske jezike: C, C++, C#, Java, JavaScript. Posjeduje iskustvo u radu na razvoju
                            web aplikacija koristeći ASP.NET Core, kao i konzolnih aplikacija.
                        </p>
                        <p>
                            Kontakt email: <strong>abeslagic1@etf.unsa.ba</strong>
                        </p>
                        <p>
                            GitHub profil: <a href="https://github.com/abeslagic1">Klikni ovdje!</a>
                        </p>
                    </div>
                    <div class="col-sm-5 text-sm-center">
                        <div class="img-wrap">
                            <img src="~/amarProfilna.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</div>





