@{
    ViewData["Title"] = "Home Page";
}

    <div class="landing-section-naslovna">
        <div class=" container">
            <div class="row">
                <div class="col-12">
                    <div class="content d-flex flex-row align-items-center">
                        <img class="zagrade" src="~/zagrade2.png" alt="zagrade" />
                        <h1> eParking </h1>
                        <img class="ikona" src="~/icona4.png" alt="ikona" />
                        
                    </div> 
                </div>
            </div>

        </div>
       
    </div>