@model StudentskiDom.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrojRucaka" class="control-label"></label>
                <input asp-for="BrojRucaka" class="form-control" />
                <span asp-validation-for="BrojRucaka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojVecera" class="control-label"></label>
                <input asp-for="BrojVecera" class="form-control" />
                <span asp-validation-for="BrojVecera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicniPodaciId" class="control-label"></label>
                <select asp-for="LicniPodaciId" class="form-control" asp-items="ViewBag.LicniPodaciId"></select>
                <span asp-validation-for="LicniPodaciId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrebivalisteInfoId" class="control-label"></label>
                <select asp-for="PrebivalisteInfoId" class="form-control" asp-items="ViewBag.PrebivalisteInfoId"></select>
                <span asp-validation-for="PrebivalisteInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkolovanjeInfoId" class="control-label"></label>
                <select asp-for="SkolovanjeInfoId" class="form-control" asp-items="ViewBag.SkolovanjeInfoId"></select>
                <span asp-validation-for="SkolovanjeInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SobaId" class="control-label"></label>
                <select asp-for="SobaId" class="form-control" asp-items="ViewBag.SobaId"></select>
                <span asp-validation-for="SobaId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
