@model double
@{
    ViewData["Title"] = "Payment";
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://kit.fontawesome.com/3874a11e93.js" crossorigin="anonymous"></script>

    <style>
        .subscribe {
            width: 33%;
            margin-top: 45px;
            height: 45px;
        }

        .btnCashConfirm {
            width: 33%;
            margin-top: 45px;
            height: 45px;
        }

        .btn {
            margin-bottom: 15px;
        }
    </style>

</head>

<div class="landing-section">
    <body>
        <div class="container">
            <h3 class="text-center">Konačni iznos za naplatu: @ViewBag.Iznos KM</h3>

            <hr>

            <div class="row justify-content-center">

                <aside class="col-md-8">
                    <article class="card">
                        <div class="card-body p-5">

                            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-white bg-secondary" data-toggle="pill" href="#nav-tab-card">
                                        <i class="fa fa-credit-card"></i> Kreditna kartica
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white bg-secondary" data-toggle="pill" href="#nav-tab-paypal">
                                        <i class="fab fa-paypal"></i>  Paypal
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white bg-secondary" data-toggle="pill" href="#nav-tab-bank">
                                        <i class="fas fa-money-bill-wave"></i>  Gotovina
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="nav-tab-card">
                                    @*<p class="alert alert-success">Some text success or error</p>*@
                                    <form role="form" asp-action="Pay" method="post">
                                        <div class="form-group">
                                            <label for="username">Ime i prezime (sa kartice)</label>
                                            <input type="text" class="form-control" name="username" placeholder="" required>
                                        </div> <!-- form-group.// -->

                                        <div class="form-group">
                                            <label for="cardNumber">Broj kartice</label>
                                            <div class="input-group">
                                                <input type="number" min="1" pattern="[0-9]{16}" minlength="16" required maxlength="16"  class="form-control" name="cardNumber" placeholder=""/>
                                                <div class="input-group-append">
                                                    <span class="input-group-text text-muted">
                                                        <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>
                                                        <i class="fab fa-cc-mastercard"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div> <!-- form-group.// -->

                                        <div class="row justify-content-center">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label><span class="hidden-xs">Datum isteka važenja</span> </label>
                                                    <div class="input-group">
                                                        <input type="number" min="1" max="12" pattern="[0-9]{2}" minlength="1" required maxlength="2" class="form-control" placeholder="MM" name="month" />
                                                        <input type="number" min="1" pattern="[0-9]{4}" minlength="4" required maxlength="4" class="form-control" placeholder="GG" name="year" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label data-toggle="tooltip" title="Trocifreni kod sa poleđine vaše kartice">CVV <i class="fa fa-question-circle"></i></label>
                                                    <input type="number" min="1" pattern="[0-9]{3}" minlength="3" required maxlength="3"  class="form-control" name="cvv"/>
                                                </div> <!-- form-group.// -->
                                            </div>
                                            <input name="submitType" class="subscribe btn btn-secondary" type="submit" value="Procesiraj podatke">
                                        </div> <!-- row.// -->

                                    </form>
                                </div> <!-- tab-pane.// -->
                                <div class="tab-pane fade" id="nav-tab-paypal">
                                    <p>PayPal je najlakši način plaćanja online!</p>
                                    <button id="btnPayPal" type="button" class="btn btn-secondary"> <i class="fab fa-paypal"></i> Preusmjeri na PayPal </button>
                                    <p>
                                        <strong>Uputa:</strong> Klikom na prikazano dugme bit ćete prebačeni na PayPal stranicu gdje možete dalje
                                        nastaviti sa procesom naplate parkinga.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="nav-tab-bank">
                                    <form asp-action="Pay" method="post">
                                        <div class="row justify-content-center">
                                            <p>Detalji o naplati gotovinom</p>
                                            <p>
                                                <strong>Upute:</strong> Ukoliko plaćate gotovinom, molimo Vas da odete do naplatne kućice te osoblju pokažete
                                                <strong>stranicu na kojoj se trenutno nalazite</strong> koja sadrži <strong>konačni iznos</strong> za naplatu <strong>prikazan na vrhu</strong> stranice.
                                                Nakon što obavite naplatu možete pritisnuti dugme <strong>Potvrdi</strong>.
                                            </p>
                                            <input name="submitType" id="btnCashConfirm" class="subscribe btn btn-secondary" type="submit" value="Potvrdi" />
                                        </div>
                                    </form>


                                </div> <!-- tab-pane.// -->
                            </div> <!-- tab-content .// -->

                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                </aside> <!-- col.// -->
            </div> <!-- row.// -->

        </div>
        <!--container end.//-->

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">ValidityState</script>
        <script>
            if (@Html.Raw(ViewBag.Alert) == 'show') {
                swal("Naplata uspješno okončana!", "Hvala vam na posjeti!", "success");
            }
        </script>
        <script>
            function showAlert() {
                swal("Naplata uspješno okončana!", "Hvala vam na posjeti!", "success");
            }
        </script>


    </body>
</div>