@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6" style="margin-bottom: 60px; margin-top: 30px">Dobro došli, @ViewData["Ime"]!</h1>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorBankari" asp-action="Index" style="color: white;">Bankari</a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorTransakcije" asp-action="Index" style="color: white;">Transakcije</a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorFilijale" asp-action="Index" style="color: white;">Filijale</a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorBankomati" asp-action="Index" style="color: white;">Bankomati</a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorKrediti" asp-action="Index" style="color: white;">Krediti</a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorKlijenti" asp-action="Index" style="color: white;">Klijenti</a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorNovosti" asp-action="Index" style="color: white;">Novosti</a>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="AdministratorRacuni" asp-action="Index" style="color: white;">Računi</a>
            </div>
        </div>
    </div>
</div>
